.register-wrapper {
    width: 420px;
    background-color: rgb(21, 20, 20);
    /* border: 2px solid rgba(255, 255, 255, 0.2); */
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 70px 40px 40px 40px;
}

.register-wrapper h1 {
    margin-top: 0%;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
}

.register-wrapper h1 a {

    cursor: pointer;
    font-size: 14.5px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 15px;
    text-decoration: none;
}

.register-back:hover {

    color: rgb(26, 155, 214);
    text-decoration: none;
}

.register-wrapper .register-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.register-wrapper .register-remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px 0 10px;
}

.register-remember-forget label input {
    accent-color: rgb(0, 0, 0);
    margin-right: 4px;
}

.register-remember-forget a {
    color: white;
    text-decoration: underline;
}

.register-remember-forget a:hover {
    color: rgb(29, 174, 241);
}

.register-remember-forget input[type=checkbox]::before {
    background-color: #000000;
    border: solid white;

}

.register-wrapper Button {
    width: 100%;
    height: 45px;
    background-color: rgb(29, 174, 241);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 15px;
    transition: 0.3s;
}

.register-wrapper button:hover {
    background-color:  rgb(26, 155, 214);
    transition: 0.3s
}

.register-wrapper .register-login {
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}

.register-login p a {
    color: white;
    font-weight: 500;
    text-decoration: underline;
}


.register-login p a:hover {
    color: rgb(29, 174, 241);
}

.register-input-box input {
    width: 85%;
    height: 10px;
    background: transparent;
    border: 2px solid rgb(163, 162, 162);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 20px 45px 20px 20px;
    transition: 0.3s;

    
}

.register-input-box input:hover {
    border-color: white;
    transition: 0.3s;

}

.register-input-box input::placeholder {
    color: rgb(163, 162, 162);
}