.result-output {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px; 
    width: 750px; 
    background-color: black;
    color: white;
}

.result-save {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    height: 45px;
    background-color: rgb(29, 174, 241);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-top: 15px;
    width: 200px;
    margin-left: 550px;
    transition: 0.3s;
    position: absolute;
}